
.back{
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
}
.img3{
	background-image: url(../img/5.jpg);
	background-size: cover;
	height: 250px;
}
.txt{
	display: none;
	background-color: rgba(240,95,64,0.5);
	width: 100%;
	height: 100%;
	padding-top: 3%;
}
.img:hover .txt{
	display: block;
}
.hover{
	text-decoration: none;
	padding: 3%
}
.divback{
	padding: 13% 20% 12% 20%;
}
.block{
	padding-left: 42%;
	padding-top: 5%;}

}
.divback2{
	padding: 9% 20% 9% 20%;
}
.center{
   padding: 35%;
   padding-top: 9%;
.relleno{
	background-color: #F05F40;
}
.white{
	color: white;
}
.white2{
	background-color: white;
}
.orange{
	background-color: #F05F40;
}
.caja{
	height: auto;
	color: #F05F40;
	text-align: center;
	padding:2%;
}
.caja h3 ,.caja p {
	color: black;
}
.img{
	width:100%;
	}
.im{
  padding: 0%;
	}
	.work{
		background-color: orange;
	}
}	
.guion{
	padding-bottom: 1%;
	background-color: #F05F40;
	width: 7%;
}
.negro{
	background-color: black;
}
.icon{
	font-size: 3rem;
	padding-top: 4%;
	padding-left: 40%;
}
.foot{
	padding: 8% 20%;
}
.img src="img/4.jpg"
.img{
	position: relative;
}
#works .work {
   position: relative;
   }
   #works .work img {
     width: 100%; }
 #works .txt {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   padding: 20%; }

.txt h4,
.txt p {
 visibility: hidden;
 color: white; }

.txt:hover {
 background-color: rgba(255,127,80, 0.8); }

.txt:hover h4,
.txt:hover p {
 visibility: visible; }